openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://localhost:8080
    description: Generated server url
paths:
  /api/cards/{id}:
    get:
      tags:
        - card-controller
      operationId: getCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
    put:
      tags:
        - card-controller
      operationId: updateCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
    delete:
      tags:
        - card-controller
      operationId: deleteCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageDto'
  /api/admin/users/{userId}/role:
    put:
      tags:
        - admin-user-controller
      operationId: changeUserRole
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum:
              - USER
              - ADMIN
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
  /api/cards:
    get:
      tags:
        - card-controller
      operationId: getAllCards
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CardDto'
    post:
      tags:
        - card-controller
      operationId: createCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
  /api/cards/{cardId}/block-request:
    post:
      tags:
        - card-controller
      operationId: requestBlockCard
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageDto'
  /api/cards/transaction:
    post:
      tags:
        - card-controller
      operationId: transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageDto'
  /api/auth/register:
    post:
      tags:
        - auth-controller
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegisterResponse'
  /api/auth/login:
    post:
      tags:
        - auth-controller
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /api/admin/users/{userId}/unblock:
    post:
      tags:
        - admin-user-controller
      operationId: unblockUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
  /api/admin/users/{userId}/block:
    post:
      tags:
        - admin-user-controller
      operationId: blockUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
  /api/admin/cards/{cardId}/block:
    post:
      tags:
        - admin-card-controller
      operationId: blockCard
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
  /api/admin/cards/{cardId}/activate:
    post:
      tags:
        - admin-card-controller
      operationId: activateCard
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
  /api/security/public-key:
    get:
      tags:
        - security-controller
      operationId: getPublicKey
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicKeyResponse'
  /api/admin/users:
    get:
      tags:
        - admin-user-controller
      operationId: getAllUsers
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDto'
  /api/admin/users/{userId}:
    get:
      tags:
        - admin-user-controller
      operationId: getUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
  /api/admin/cards:
    get:
      tags:
        - admin-card-controller
      operationId: getAllCards_1
      parameters:
        - name: userId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - BLOCKED
              - EXPIRED
        - name: pageable
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageCardDto'
  /api/admin/cards/{cardId}/transactions:
    get:
      tags:
        - admin-card-controller
      operationId: getCardTransactions
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionDto'
  /api/admin/cards/{cardId}:
    delete:
      tags:
        - admin-card-controller
      operationId: deleteCard_1
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageDto'
components:
  schemas:
    UpdateCardRequest:
      required:
        - cardHolder
      type: object
      properties:
        cardHolder:
          maxLength: 100
          minLength: 2
          pattern: ^[A-Za-zА-Яа-я\s-]+$
          type: string
    CardDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        maskedNumber:
          type: string
        cardHolder:
          type: string
        expiryDate:
          type: string
          format: date
        balance:
          type: number
        status:
          type: string
          enum:
            - ACTIVE
            - BLOCKED
            - EXPIRED
        createdAt:
          type: string
          format: date
    UserDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        cardHolder:
          type: string
        role:
          type: string
          enum:
            - USER
            - ADMIN
    CreateCardRequest:
      required:
        - cardHolder
        - cvv
        - encryptedCardNumber
        - expiryDate
      type: object
      properties:
        encryptedCardNumber:
          type: string
        cardHolder:
          maxLength: 100
          minLength: 2
          pattern: ^[A-Za-zА-Яа-я\s-]+$
          type: string
        expiryDate:
          type: string
          format: date
        cvv:
          maxLength: 4
          minLength: 3
          pattern: ^[0-9]{3,4}$
          type: string
    MessageDto:
      type: object
      properties:
        message:
          type: string
    TransferRequest:
      required:
        - amount
        - fromCardId
        - toCardId
      type: object
      properties:
        fromCardId:
          type: integer
          format: int64
        toCardId:
          type: integer
          format: int64
        amount:
          minimum: 0.01
          exclusiveMinimum: false
          type: number
    RegisterRequest:
      required:
        - email
        - password
        - username
      type: object
      properties:
        username:
          maxLength: 20
          minLength: 3
          type: string
        email:
          type: string
        password:
          maxLength: 2147483647
          minLength: 8
          type: string
    RegisterResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        createdAt:
          type: string
          format: date
    LoginRequest:
      required:
        - password
        - username
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
        user:
          $ref: '#/components/schemas/UserDetailResponse'
    UserDetailResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date
        updatedAt:
          type: string
          format: date
    PublicKeyResponse:
      type: object
      properties:
        publicKey:
          type: string
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
    PageCardDto:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/CardDto'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        empty:
          type: boolean
    PageableObject:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        pageSize:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        paged:
          type: boolean
        unpaged:
          type: boolean
    SortObject:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    Card:
      type: object
      properties:
        id:
          type: integer
          format: int64
        cardHash:
          type: string
        lastFourDigits:
          type: string
        cardHolder:
          type: string
        expiryDate:
          type: string
          format: date
        status:
          type: string
          enum:
            - ACTIVE
            - BLOCKED
            - EXPIRED
        balance:
          type: number
        createdAt:
          type: string
          format: date
        updatedAt:
          type: string
          format: date
        user:
          $ref: '#/components/schemas/User'
        outgoingTransactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        incomingTransactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    Transaction:
      type: object
      properties:
        id:
          type: integer
          format: int64
        transactionId:
          type: string
          format: uuid
        amount:
          type: number
        description:
          type: string
        status:
          type: string
          enum:
            - COMPLETED
            - FAILED
            - PENDING
        type:
          type: string
          enum:
            - TRANSFER
            - PAYMENT
            - REFUND
        createdAt:
          type: string
          format: date-time
        fromCard:
          $ref: '#/components/schemas/Card'
        toCard:
          $ref: '#/components/schemas/Card'
    TransactionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        transactionId:
          type: string
          format: uuid
        amount:
          type: number
        description:
          type: string
        status:
          type: string
          enum:
            - COMPLETED
            - FAILED
            - PENDING
        type:
          type: string
          enum:
            - TRANSFER
            - PAYMENT
            - REFUND
        createdAt:
          type: string
          format: date-time
        fromCard:
          $ref: '#/components/schemas/Card'
        toCard:
          $ref: '#/components/schemas/Card'
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        password:
          type: string
        email:
          type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date
        updatedAt:
          type: string
          format: date
        role:
          type: string
          enum:
            - USER
            - ADMIN
        cards:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Card'
